/* Project-wide style */


html{
    margin: 0;
    height: 100%;
}

body{
    background-color: #F4F9F4;
    margin: 0;
    height: 100%;
}

#nav-bar {
    /* position: sticky; */
    visibility: visible;
    top: 0;
    padding: 0;
    margin-bottom: -20px;
}
#navbarSupportedContent ul li {
    text-align: right;
}

.dropdown-menu{
    background:#5c8d89 !important;
}

.dropdown-menu a{
    color: white;
}
.navbar-brand img {
    height: 40px;
    padding-top: -30px;
    padding-left: 30px;
    margin-top: -10px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul {
    text-align: right;
    float: right;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
#nav-bar ul li a:hover {
    color: #315b96!important;
}
.navbar {
    background: #5c8d89;
    margin-bottom: 20px;
}
.navbar-toggler {
    border: none!important;
    font-weight: 600;
    font-size: 16px;
}
.nav-link {
    color: white!important;
    font-weight: 500;
    font-size: 16px;
}

#footer {
    background: #5c8d89;
    color: white;
    padding-top: 23px;
    height: 82px;
}
#footer p {
    font-weight: bolder;
    font-size: 30px;
}

/* HOME PAGE */

.home-intro{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("/static/css/img/intro.jpg");
    /* background-image: url("/static/css/img/intro.jpg");  */
    height: 13%; 
    width: 86%;
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    justify-content: space-around;
}

.container-description{
    background-color: white;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    align-items: center;
}

.logo{
    background-image: url("/static/css/img/fresh-house-putih.png");
    width: 596px;
    height: 596px;
}

.description-title{
    font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;;
}

.description-text{
    font-size: 30px;
line-height: 35px;
}


.home-about{
    height: 1500px;    
}

.about-picture{
    height: 100%;
    width: 100%;
    border-radius: 10%;
}


/* CADANGAN */
.jumbotron{
    background-image: url("/static/css/img/intro.jpg");
}

/* GROCERY PAGE */
.card {
    margin: 30px;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    align-items: center;
}
.container-grocery {
    background-color: #f4f9f4;
}
.card:hover {
    transform: scale(1.05);
    /* opacity: 0.3; */
    box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.3);
}

/* FASTFOOD PAGE */
/* body{
    margin-left: 10%;
    margin-right: 10%;
} */

.container-fastfood {
    background-color: #f4f9f4;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
input[type=text]:focus {
    width: 100%;
}

.card {
    margin: 30px;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    align-items: center;
}
.card-table {
    width: 100%;
    padding: 15px;
    text-align: left;
}
.card:hover {
    transform: scale(1.05);
    /* opacity: 0.3; */
    box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.3);
}




