{% extends 'base.html' %}
{%load static%}

{% block static %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block title %}  
<title>Recipe Description | Fresh House</title>
{% endblock %}

{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="container-grocery">
    <div class="text-center">
    <div class="card" style="margin-top: 50px; max-width: 75% ">
        <p class="text-left"> {{ desc.deskripsi |linebreaksbr }} </p> 
    </div>
    </div>
    <div class="text-center">
        <a href={%url 'recipes:recipes'%} class="btn btn-danger">Back</a>
    </div>
    <p></p>
</body>
{% endblock content %}