{% extends 'base.html' %}
{%load static%}

{% block static %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block title %}  
<title>Recipes | Fresh House</title>
{% endblock %}

{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="container-grocery">
    {% for res in result %}
    <div class="card" style="width: 280px; height: 300px">
      <div class="card-body text-center">
        <img src="{{res.photo.url}}" class="card-img-top" alt="photo not uploaded" style="height: 150px">
        <h5 class="card-title mt-3">{{res.nama}}</h5>
        <a href={%url 'recipes:deskripsi' res.id%} class="btn btn-success">See Recipe</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <a href={%url 'recipes:tambah'%} class="btn btn-success">Add Recipe</a>
  </div>
  <p></p>
</body>
{% endblock content %}
