{% extends 'base.html' %}
{%load static%}

{% block static %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block title %}  
<title>Add Recipe | Fresh House</title>
{% endblock %}

{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="container-grocery">
{% load cloudinary %}
<form method="POST" enctype="multipart/form-data">
<div class="text-center">
<div class="card" style="margin-top: 50px">
    <div class="text-left">
        {% csrf_token %}
        {{form.as_p}}
    </div>
</div>
</div>
<div class="text-center">
    <a href={%url 'recipes:recipes'%} class="btn btn-danger">Cancel</a>
    <input type="submit" class="btn btn-success" value="Add Recipe">
    <p></p>
</div>
</form>
</body>
{% endblock content %}