{% extends 'base.html' %}
{%load static%}

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="/static/css/img/mylogo.png" type="image/icon type">

    <title>Cart | Fresh House</title>
    <style>
        body {
        background: #F4F9F4;
        /* background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
        background: linear-gradient(to right, #eecda3, #ef629f); */
        min-height: 100vh;
        }
        .rounded-fix {
            border-radius: 10px;
        }
        .bg-green {
            background-color: #A7D7C5;
        }
        .text-black {
            color: black;
        }
        .bg-darkgreen {
            background-color: #5C8D89;
        }
        .text-white {
            color: white;
        }
        .textstyle {
    background-color: #5C8D89; 
    font-weight: bold; /* Making font bold */
    border-radius: 20px; /* Making border radius */
    width: auto; /* Making auto-sizable width */
    height: auto; /* Making auto-sizable height */
    padding: 5px 30px 5px 30px; /* Making space around letters */
    font-size: 18px; /* Changing font size */
    border-width: 25px;
}
    </style>
{% block static %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}
</head>
{% endblock %}

{% block content %}
<body>
    <div class="px-4 px-lg-0">
        <!-- For demo purpose -->
        <div class="container text-black py-5 text-center">
          <h2 class="display-5" style="font-weight: bold;">This is Your Order Details</h2>
          <p class="lead mb-0">Don't forget to checkout and we will proceed immediately! &#128521;</p>
          </p>
        </div>
        <!-- End -->
      
        <div class="pb-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 p-5 bg-green rounded-fix shadow-sm mb-5">
      
                <!-- Shopping cart table -->
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="border-0 bg-light">
                          <div class="p-2 px-3 text-uppercase" style="text-align: center;">Product</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase" style="text-align: center;">Price</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase" style="text-align: center;">Quantity</div>
                        </th>
                        <!-- <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Remove</div>
                        </th> -->
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <th scope="row" class="border-0">
                          <div class="p-2">
                            <img src={{desc.foto.url}} style="width:100px;height:80px"; class="card-img-top" alt="photo not uploaded">
                            <div class="ml-3 d-inline-block align-middle">
                              <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{desc.nama}}</a></h5>
                              <span class="text-muted font-weight-normal font-italic d-block">{{desc.class_name}}</span>
                            </div>
                          </div>
                        </th>
                        <td class="border-0 align-middle" style="text-align: center;"><strong>{{desc.harga}}</strong></td>
                        <td class="border-0 align-middle" style="text-align: center;"><strong>{{desc.porsi}} </strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- End -->
              </div>
            </div>
      
            <div class="py-5 p-4 bg-green rounded-fix shadow-sm" >
                
                <div class="p-4" style="width: 550px; margin: auto;">
                    <div class="textstyle text-white" style="text-align: center; font-size: 25px; margin-bottom: 20px; margin-top: -20px;">
                        Order summary </div>
                  <p class="font-italic mb-4" style="text-align: center;">Shipping and additional costs are calculated based on values you have entered.</p>
                  <ul class="list-unstyled mb-4">
                    <!-- <li class="d-flex justify-content-between py-3 border-bottom"><strong  style="color: black;">Order Subtotal </strong><strong>115.000</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong style="color: black;">Shipping and handling</strong><strong>10.000</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong style="color: black;">Tax (10%)</strong><strong>11.500</strong></li> -->
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong style="color: black;">Total</strong>
                      <h5 class="font-weight-bold">Rp{{desc.harga}}</h5>
                    </li>
                  </ul><a href="{% url 'main:home'%}" class="btn btn-dark rounded-pill py-2 btn-block">Checkout and Pay</a>
                </div>
              
            </div>
      
          </div>
        </div>
      </div>
</body>
{% endblock %}