{% extends 'base.html' %}
{%load static%}

{% block static %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}  
<title>Fast Food | Fresh House</title>
{% endblock %}

{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style> 
  form{
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
  }
</style>
</head>
<body class="container-fastfood">

<div class="search_engine">
  <form class="form-inline" action="{%url 'search' %}" method="POST" margin-left="100px">
    {% csrf_token %}
    <input type="text" class="form-control"  name="carinama" placeholder="What are you craving?" aria-label="Cari Produk">
    <button class="btn btn-outline-primary" type="submit" style="background-color:#5C8D89;"><i class="fa fa-search"></i></button>
</form>
</div>

  {% for res in result %}
  <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="{{res.foto.url}}" class="card-img-top" alt="photo not uploaded">
        <h5 class="card-title">{{res.nama}}</h5>
        <p>Porsi per sajian : {{res.porsi}} </p>
        <p>Lokasi Toko : {{res.location}} </p>
        <h5>Rp {{res.harga}} </h5>
        <a href="cart/{{res.id}}/" class="btn btn-success">Add to Cart</a>
      </div>
    </div>
{% endfor %}

    
</body>


{% endblock content %}