{% extends 'base.html' %}
{%load static%}

{% block static %}
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block title %}  
<title>Grocery | Fresh House</title>
{% endblock %}

{% block content %}
<body class="container-fastfood">
  {% for res in result %}
  <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="{{res.foto.url}}" class="card-img-top" alt="photo not uploaded">
        <h5 class="card-title">{{res.nama}}</h5>
        <p>Porsi per sajian : {{res.porsi}} </p>
        <p>Lokasi Toko : {{res.location}} </p>
        <h5>Rp {{res.harga}} </h5>
        <a href="cart/{{res.id}}/" class="btn btn-success">Add to Cart</a>
      </div>
    </div>
{% endfor %}

    
</body>


{% endblock content %}