<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="/static/css/img/mylogo.png">
    <title>Welcome</title>
    <style>
        html{
            background: linear-gradient(0deg, #A7D7C5 0%, rgba(255, 255, 255, 0) 100%) no-repeat;
            margin: 0;
            height: 100%;
        }
        body {
            margin: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="introducing">
        <div class="content">
            <h1>Let’s Get Started!</h1>
            <h2>What should we call you?</h2>
            <form action='home/' method='POST'> {% csrf_token%}
                {{ form_input_user.as_p }} <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

</html>