{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="/static/css/style.css" type="text/css">
{% endblock %}

{% block title %}
<title>Home</title>
{% endblock %}


{% block content %}
<div class="container-home d-flex flex-column justify-content-center">
  <div class="container p-2">
    <h1>Welcome, {{ name }}!</h1>
  </div>
  <div class="container p-2 home-intro">
    <div class="row align-items-center">
      <div class="col-sm" style="width: 80%; height: 78%;">
        <div class="container container-description">
          <p class="description-title">FAST AND HEALTHY, IMAGINE THAT!</p>
          <p class="description-text">Fresh House is an e-commerce platform that serves healthy recipes, fast food, and
            groceries to buy! We’re looking forward for your enthusiast!</p>
          <a href="{% url 'main:home'%}#about" class="btn btn-success">Get Started</a>
        </div>
      </div>
      <div class="col-sm" style="width: 80%; height: 78%;">
        <div class="logo"></div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <h3 class="container">Recipes</h3>
  <div class="container d-flex flex-row justify-content-between home-recipe">
    {% for recipe in recipes %}
    <div class="card" style="width: 18rem">
      <div class="card-body text-center">
        <img src="{{recipe.photo.url}}" class="card-img-top" alt="photo not uploaded" style="height: 150px">
        <h5 class="card-title mt-3">{{recipe.nama}}</h5>
        <a href={%url 'recipes:deskripsi' recipe.id%} class="btn btn-success">See Recipe</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <a href="/recipes/" class="btn btn-success container" style="width: 18rem;">View more Recipes</a>

  <h3 class="container">Groceries</h3>
  <div class="container d-flex flex-row justify-content-between home-grocery">
    {% for grocery in groceries %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="{{grocery.foto.url}}" class="card-img-top" alt="photo not uploaded">
        <h5 class="card-title">{{grocery.nama}}</h5>
        <p>Porsi per sajian : {{grocery.porsi}} </p>
        <p>Lokasi Toko : {{grocery.location}} </p>
        <h5>Rp {{grocery.harga}} </h5>
        <a href="/grocery/cart/{{grocery.id}}/" class="btn btn-success">Add to Cart</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <a href="/grocery/" class="btn btn-success container" style="width: 18rem;">View more Groceries</a>

  <br>
  <h3 class="container">Fast foods</h3>
  <div class="container d-flex flex-row justify-content-between recipe-fastfood">
    {% for fastfood in fastfoods %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="{{fastfood.foto.url}}" class="card-img-top" alt="photo not uploaded">
        <h5 class="card-title">{{fastfood.nama}}</h5>
        <p>Porsi per sajian : {{fastfood.porsi}} </p>
        <p>Lokasi Toko : {{fastfood.location}} </p>
        <h5>Rp {{fastfood.harga}} </h5>
        <a href="/fastfood/cart/{{fastfood.id}}/" class="btn btn-success">Add to Cart</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <a href="/fastfood/" class="btn btn-success container" style="width: 18rem;">View more Fast Foods</a>

  <div class="container d-flex flex-column justify-content-around home-about" id="about">
    <h1 class="p-2" style="text-align: center;">About</h1>
    <div class="row p-2">
      <div class="col-md">
        <img class="about-picture" src="/static/css/img/sehat.png">
      </div>
      <div class="col-md d-flex flex-column justify-content-center">
        <h2 class="p-2">Healthy and hygienic</h2>
        <p class="p-2">
          We provide a selection of recipes, food ingredients, and healthy intake to maintain your health, especially in
          the midst of this COVID-19 Pandemic
        </p>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-md">
        <img class="about-picture" src="/static/css/img/dekat.png">
      </div>
      <div class="col-md d-flex flex-column justify-content-center">
        <h2 class="p-2">Close to you</h2>
        <p class="p-2">
          Just with one press, you can get the healthy intake you want right away</p>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-md">
        <img class="about-picture" src="/static/css/img/beragam.jpg">
      </div>
      <div class="col-md d-flex flex-column justify-content-center">
        <h2 class="p-2">Diverse choices</h2>
        <p class="p-2">
          Feel free to choose a variety of recipes, ingredients, and, fast food here</p>
      </div>
    </div>
  </div>

  <div class="container d-flex flex-column justify-content-around home-contact" style="height: 300px" id="contact-us">
    <div class="p-2 contact-us-text">
      <h1 style="text-align: center;">Contact Us</h1>
    </div>
    <div class="p-2 contact-us-logo">
      <div class="d-flex justify-content-center">
        <a href="https://www.facebook.com/ahmad.harori.52">
          
          <img class="p-2" src="/static/css/img/facebook.png" style="width: 80px; height: 80px;">
        </a>
        <a href="https://www.instagram.com/ahmadharori/">
          <img class="p-2" src="/static/css/img/ig.png" style="width: 80px; height: 80px;">
        </a>
      </div>
    </div>
  </div>

</div>
{% endblock content %}